<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/_head') %>
</head>

<body>
	<header>
		<%- include("../partials/_header") %>
	</header>
	
		<span class="js-include-html" data-filename="partial/header.html" data-function="ActivateNavbarLink()"></span>
		<%- include('../partials/_sidebar') %>
		<main id="ham-main">
			<!-- Left Side bar -->
			<span class="js-include-html" data-filename="partial/_sidebar.htm" data-function="InitSidebar()"></span>

			<section class="center">
				<h3>Please contact us for everything you need about for your journey or send us a review.</h3>
				<br>
				<div class="contact-form">
					<form action="https://formsubmit.co/difftravelagency@yahoo.com" method="POST">
						<!--<form action="mailto:difftravelagency@yahoo.com" method="POST">	-->

						<label for="fname">Full Name</label>
						<input type="text" id="fName" name="Name" required placeholder="Full name..">
						<br>

						<label for="lname">Your e-mail</label>
						<input type="email" id="email" name="Email" required placeholder="Your email..">
						<br>

						<label for="cont">Continent</label>
						<select id="continent" name="Continent">
							<option value="Europe">Europe</option>
							<option value="Asia">Asia</option>
							<option value="Africa">Africa</option>
							<option value="NorthAmerica">North America</option>
							<option value="SouthAmerica">South America</option>
							<option value="Australia">Australia/Oceania</option>
							<option value="Antarctica">Antarctica</option>
						</select>
						<br>

						<label for="subject">Subject</label>
						<textarea id="message" name="Message" required placeholder="Write something.."
							style="height:200px"></textarea>
						<br>

						<input type="submit" value="Send">
						<input type="hidden" name="_autoresponse" value="The email is succesfuly sent!">
						<!--<input type="hidden" name="_next" value="./partial/successfullySent.htm">-->
						<!--<span class="js-include-html" data-filename="partial/_sidebar.htm"></span>-->
					</form>
				</div>
			</section>
		</main>
		<%- include('../partials/chat') %>
			<footer>
				<%- include('../partials/_footer') %>
			</footer>
			<script src="js/script.js"></script>
			<script src="js/jqueryScript.js"></script>
			<script src="js/music.js"></script>
	</body>

</html>