<!DOCTYPE html>

<% data.forEach(article => { %>
    <div class="container article-world <%= article.class %> " id="<%= article.id %>" data-article-id="${article.id}">
        <h2 class = "article-title"><%= article.title %></h2>
        <img class="image" src="<%= article.imageUrl %>" alt="<%= article.imageText %>">
        <p class="description"><%= article.description %></p>
        <button id="like-button"><i class="fa fa-thumbs-up"></i> Like</button>
        <button id="dislike-button"><i class="fa fa-thumbs-down"></i> Dislike</button>
        <div>
            <span id="like-count">${GetLikesByArticleId(article.id)}</span> likes,
            <span id="dislike-count">${GetDislikesByArticleId(article.id)}</span> dislikes
        </div>
    </div>
  <% }) %>