<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/_head') %>
	
</head>
<body>
<header>
	<%- include("../partials/_header") %>
</header>
	<main id="ham-main">
		<%- include('../partials/_sidebar') %>
		
		<section class="left">
			<div id="top-rated">
				<span class="js-gettop3liked-json" data-filename="data/articles.json"></span>
			</div>
		</section>
		<script src="js/script.js"></script>
		<section class="center">
			<% data.forEach(article => { %>
				<div class="container article-world <%= article.class %>" id="<%= article._id %>">
				  <h2 class="article-title"><%= article.title %></h2>
				  <img class="image" src="<%= article.imageUrl %>" alt="<%= article.imageText %>">
				  <p class="description"><%= article.description %></p>
				  <button id="like-button" onclick="like('<%= article._id %>')"><i class="fa fa-thumbs-up"></i> Like</button>
				  <button id="dislike-button" onclick="dislike('<%= article._id %>')"><i class="fa fa-thumbs-down"></i> Dislike</button>
				  <div>
					<span id="like-count-<%= article._id %>"><%= article.likes %></span> likes,
					<span id="dislike-count-<%= article._id %>"><%= article.dislikes %></span> dislikes
				  </div>
				</div>
			  <% }) %>
			  
		</section>
		<section class="right">
			<img src="https://media1.giphy.com/media/l3E6Ek4zKHFXGOzFm/giphy.gif" alt="image" />
			<div>
				<a href="https://www.stb.com.mk/appform/potrosuvacki-kredit-so-obezbeduvanje-80000-eu" target="_blank">
					<img src="https://bggde.adocean.pl/files/akifogwllcu/sampepghsi/xplplxgfyt/300x600-potroshuvachki-obezbeden.gif"
						alt="">
				</a>
			</div><br>
			<div>
				<a href="https://alkaloid.com.mk/mk/product/multi-essence-vitamin-d3-1000-iu-2000-iu-4000-iu"
					target="_blank">
					<img src="https://time.mk/ads/c959c749e6e608e828321761716f0830.gif" alt="">
				</a>
			</div><br>
			<div>
				<a href="https://www.neptun.mk/issuu.nspx?promotion=2276" target="_blank">
					<img src="https://bggde.adocean.pl/files/akidojuirei/sampepghsi/shehhosqgo/Gaming-300x250.gif"
						alt="">
				</a>
			</div>
		</section>
	</main>
	<%- include('../partials/chat') %>
	<%- include('../partials/_chatbox-window') %>
<footer>
	<%- include('../partials/_footer') %>
</footer>
	<script src="js/jqueryScript.js"></script>
	<script type="module" src="js/music.js"></script>
	<script src="dist/bundle.js" type="module"></script>
</body>
</html>