<!DOCTYPE html>
<html>

<head>
	
	<%- include('../partials/_head') %>
	
	<link rel="stylesheet" type="text/css" href="/css/save-article.css">
	
</head>
<body>
<header>
	<%- include("../partials/_header") %>

</header>
	<div class="text-center">
		<h1 id="save-article-heading"><%= article._id == 0 ? "New " : "Edit "; %> Article</h1>
	</div>
	<main class="save-article-container">
		<%- include('../partials/_sidebar') %>

        <div>
			<img class="image" id="save-article-image" src="<%= article.imageUrl %>" alt="<%= article.imageText %>">
		</div>
		<div>
			<form id="form-save-article" action="/save-article" method="POST" novalidate>
				<div class="mb-3">
					<label for="_id" class="form-label">_id</label>
					<input type="text" class="form-control" id="_id" name="_id" readonly value="<%= article._id %>">
				</div>
				<div class="mb-3">
					<label class="form-label" for="title">Article title:</label>
					<input class="form-control" type="text" id="title" name="title" placeholde="Article title" value="<%= article.title %>" required>
				</div>
				<div class="mb-3">
					<label class="form-label" for="imageUrl">Image URL:</label>
					<input class="form-control" type="text" id="imageUrl" name="imageUrl" placeholde="Image URL" onchange="LoadImageInArticle(this)" value="<%= article.imageUrl %>" required>
				</div>
				<div class="mb-3">
					<label class="form-label" for="description">Description:</label>
					<textarea class="form-control" type="text" id="description" name="description" placeholde="Description" rows="7" required><%= article.description %></textarea>
				</div>
				<div class="mb-3">
					<div class="col-6">
						Likes: <input class="form-info" id="likes" name="likes" readonly value="<%= article.likes %>"/>
						<input class="form-button" type="submit" data-likes="<%= article.likes %>" onclick="ResetLikes(this)" value="Reset"/>
					</div>
					<div class="col-6">
						Dislikes: <input class="form-info" id="dislikes" name="dislikes" readonly value="<%= article.dislikes %>"/>
						<input class="form-button" type="submit" data-dislikes="<%= article.dislikes %>" onclick="ResetDislikes(this)" value="Reset"/>
					</div>
					
				</div>
				<div class="mb-3">
					<div class="col-4">
						<input class="form-control button-delete" type="submit" onclick="window.location='/home'" value="Cancel"/> 
					</div>
					<div class="col-4">
						<input class="form-control" type="submit" onclick="NewArticle(this)" value="New Article"/> 
					</div>
					<div class="col-4">
						<input class="form-control" type="submit" onclick="SaveArticle(this)" value="Save"/> 
					</div>
				</div>
        	</form>
		</div>	 
	</main>

<footer>
	<%- include('../partials/_footer') %>
</footer>
	<script src="/dist/bundle.js" type="module"></script>
</body>
</html>