<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="/css/htmlApp.css">
	<link rel="stylesheet" type="text/css" href="/css/accordion.css">
	<script src="https://kit.fontawesome.com/6a7b1ca22e.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="/js/functions.js"></script>
	<meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/css/chatbox-style.css">
    <link rel="stylesheet" type="text/css" href="/css/chat.css">
	<link rel="stylesheet" type="text/css" href="/css/save-article.css">
	
</head>
<body>
<header>
	<div id="logo-div">
		<a href="/">
		<img id="logo"
			src="https://fiverr-res.cloudinary.com/t_main1,q_auto,f_auto/gigs2/301383703/original/a8cccf825048f406f8868a549aa14d2dda6c3182.jpg"
			alt="">
		</a>
	</div>
	<div style="flex-grow: 2; text-align: center;">
		<a id="play" onclick="play()"><i class="fa fa-play radio-btn"></i></a>
		<a id="pause" onclick="pause()"><i class="fa fa-pause radio-btn"></i></a>
		<audio id="music">
			<source src="audio/TravelMusic.mp3" type="audio/mpeg">
		</audio>
	</div>
	<nav>
		<div class="hamburger" onclick="toggleHamburger()">
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
		</div>
		<div class="hamburger-menu">
			<i class="fa fa-times" aria-hidden="true" id="x-close" onclick="toggleHamburger()"></i>
			<div class="hamburger-menu-item">
				<div>
					<a href="/">
						<img src="https://fiverr-res.cloudinary.com/t_main1,q_auto,f_auto/gigs2/301383703/original/a8cccf825048f406f8868a549aa14d2dda6c3182.jpg"
							alt="">
					</a>
				</div>
				<div>
					<span><a href="home">Home</a></span>
				</div>
				<div>
					<span><a href="about">About</a></span>
				</div>
				<div>
					<span><a href="contact">Contact</a></span>
				</div>
			</div>
		</div>

		<ul id="nav_bar">
			<li><a href="/home">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
			<form id="google-search" action="https://www.google.com/search" method="get" target="_blank">
				<label for="search"></label>
				<input type="text" id="search" class="search-input" name="q" placeholder="Google">
				<button class="search" type="submit">Search</button>
			</form>
		</ul>
	</nav>
</header>
	<main class="save-article-container">
        <div>
			<img class="image" id="save-article-image" src="<%= article.imageUrl %>" alt="<%= article.imageText %>">
		</div>
		<div>
			<form id="form-save-article" action="/save-article" method="POST">
				<div class="mb-3">
					<label for="_id" class="form-label">_id</label>
					<input type="text" class="form-control" id="_id" name="_id" readonly value="<%= article._id %>">
				</div>
				<div class="mb-3">
					<label class="form-label" for="title">Article title:</label>
					<input class="form-control" type="text" id="title" name="title" placeholde="Article title" value="<%= article.title %>" required>
				</div>
				<div class="mb-3">
					<label class="form-label" for="imageUrl">Image URL:</label>
					<input class="form-control" type="text" id="imageUrl" name="imageUrl" placeholde="Image URL" onchange="LoadImageInArticle(this)" value="<%= article.imageUrl %>" required>
				</div>
				<div class="mb-3">
					<label class="form-label" for="description">Description:</label>
					<textarea class="form-control" type="text" id="description" name="description" placeholde="Description" rows="7" required><%= article.description %></textarea>
				</div>
				<div class="mb-3">
					<div class="col-6">
						Likes: <input class="form-info" id="likes" name="likes" readonly value="<%= article.likes %>"/>
						<input class="form-button" type="submit" data-likes="<%= article.likes %>" onclick="ResetLikes(this)" value="Reset"/>
					</div>
					<div class="col-6">
						Dislikes: <input class="form-info" id="dislikes" name="dislikes" readonly value="<%= article.dislikes %>"/>
						<input class="form-button" type="submit" data-dislikes="<%= article.dislikes %>" onclick="ResetDislikes(this)" value="Reset"/>
					</div>
					
				</div>
				<div class="mb-3">
					<div class="col-4">
						<input class="form-control" type="submit" data-article-id="<%= article._id %>" class="btn btn-block btn-danger" onclick="DeleteArticle(this)" value="Delete"/> 
					</div>
					<div class="col-4">
						<input class="form-control" type="submit" class="btn btn-block btn-danger" onclick="NewArticle(this)" value="New Article"/> 
					</div>
					<div class="col-4">
						<input class="form-control" type="submit" class="btn btn-block btn-danger" onclick="SaveArticle(this)" value="Save"/> 
					</div>
				</div>
        	</form>
		</div>	 
	</main>

<footer>
	<%- include('../partials/_footer') %>
</footer>
	<script src="/js/jqueryScript.js"></script>

	<script src="/js/likeDislike.js"></script>
	<script type="module" src="/js/music.js"></script>
	<script src="/dist/bundle.js" type="module"></script>
</body>
</html>